<template>
  <main class="py-8">
    <h1 class="font-normal leading-normal text-xl text-grey-darkest mb-2">My Claims</h1>
    <el-table :data="claims">
      <el-table-column prop="address" label="Address"></el-table-column>
      <el-table-column prop="date" label="Date"></el-table-column>
      <el-table-column prop="status" label="Status"></el-table-column>
      <el-table-column label="Actions">
        <template slot-scope="scope">
          <nuxt-link class="no-underline text-blue" to="/claims/needs-attention">View Claim</nuxt-link>
        </template>
      </el-table-column>
    </el-table>
  </main>
</template>

<script>
import faker from "faker";
export default {
  data() {
    return {
      claims: [
        {
          address: faker.address.streetAddress(),
          status: "Needs Attention",
          date: "4/23/2018"
        }
      ]
    };
  }
};
</script>
