<template>
  <main class="py-8">
    <nuxt-link class="no-underline text-blue flex items-center mb-8" to="/claims">
      <i class="el-icon-back"></i>
      <span class="ml-2">Back To My Claims</span>
    </nuxt-link>
  </main>
</template>
