<template>
  <main class="py-4">
    <header class="mb-4 flex items-center justify-between">
      <div>
        <nuxt-link class="no-underline text-blue text-sm mb-4 flex items-center" to="/claims">
          <i class="el-icon-back mr-2"></i>
          Back To My Claims
        </nuxt-link>
        <h1 class="font-normal text-2xl text-black">Claim #00129</h1>
      </div>
    </header>
    <div class="bg-white shadow">
      <header class="p-4 border-b border-grey-lighter">
        <div class="flex items-center">
          <div class="mr-8">
            <label class="block mb-2 font-medium text-grey-dark uppercase tracking-wide text-sm">Policy</label>
            <p class="text-lg">
              <nuxt-link class="text-grey-darkest dotted-underline" to="/settings">#189029301</nuxt-link>
            </p>
          </div>
          <div class="mr-8">
            <label class="block mb-2 font-medium text-grey-dark uppercase tracking-wide text-sm">Event</label>
            <p class="text-grey-darkest text-lg flex items-center">
              <img class="w-6 h-6 mr-2" src="/skycons/Cloud-Drizzle.svg" alt="">
              4.5" Rain
            </p>
          </div>
          <div class="mr-8">
            <label class="block mb-2 font-medium text-grey-dark uppercase tracking-wide text-sm">Date</label>
            <p class="text-grey-darkest text-lg">4/20/18</p>
          </div>
          <div>
            <label class="block mb-2 font-medium text-grey-dark uppercase tracking-wide text-sm">Property</label>
            <p class="text-grey-darkest text-lg">
              <nuxt-link class="text-grey-darkest dotted-underline" to="/property/1007ellison">1007 Ellison Ave</nuxt-link>
            </p>
          </div>
        </div>
      </header>
      <section class="p-4">
        <the-progress-bar></the-progress-bar>
        <div class="flex flex-wrap md:-mx-8 pt-8">
          <div class="w-full md:w-1/2 md:px-8">
            <header class="border-b border-grey-light">
              <label class="block mb-2 font-medium text-grey-dark uppercase tracking-wide text-sm">Action Items</label>
            </header>
            <!-- <the-empty-state class="my-8 py-4"></the-empty-state> -->
            <el-form class="mt-8" ref="form" :model="sizeForm" label-width="120px">
              <el-form-item label="Question #1">
                <el-input v-model="sizeForm.name"></el-input>
              </el-form-item>
              <el-form-item label="Question #2">
                <el-select v-model="sizeForm.region" placeholder="please select your zone">
                  <el-option label="Zone one" value="shanghai"></el-option>
                  <el-option label="Zone two" value="beijing"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Question #3">
                <el-checkbox-group v-model="sizeForm.type">
                  <el-checkbox-button label="Online activities" name="type"></el-checkbox-button>
                  <el-checkbox-button label="Promotion activities" name="type"></el-checkbox-button>
                </el-checkbox-group>
              </el-form-item>
              <el-form-item label="Question #4">
                <el-radio-group v-model="sizeForm.resource" >
                  <el-radio border label="Sponsor"></el-radio>
                  <el-radio border label="Venue"></el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item>
                <el-button type="primary">Submit</el-button>
              </el-form-item>
            </el-form>
            
          </div>
          <div class="w-full md:w-1/2 md:px-8">
            <label class="block mb-2 font-medium text-grey-dark uppercase tracking-wide text-sm">Required Documents</label>
            <el-collapse v-model="documents">
              <el-collapse-item name="1">
                <template slot="title">
                  Claim Form <span class="font-normal">(1 file uploaded)</span>
                </template>
                <div class="border border-dashed border-grey-light p-4 flex flex-col">
                  <div class="flex-auto" style="min-height: 150px;">
                    <ul class="list-reset">
                      <li v-for="(form, index) in claimForms" :key="index" class="py-2 form-list-item flex items-center justify-between">
                        <a href="#" class="font-medium text-blue no-underline flex items-center">
                          <i class="fal fa-file-pdf mr-1"></i>
                          {{ form.name }}
                        </a>
                        <span class="text-sm text-grey">4/20/18</span>
                      </li>
                    </ul>
                  </div>
                  <footer class="text-grey-dark">
                    <div class="flex items-center">
                      <i class="fal fa-cloud-upload fa-2x mr-2"></i>
                      <p>Drag &amp; Drop files here, or <a href="#" class="font-medium text-blue no-underline">browse</a> for a file to upload</p>
                    </div>
                  </footer>
                </div>
              </el-collapse-item>
              <el-collapse-item title="Photographic Evidence" name="2">
                <div class="border border-dashed border-grey-light p-4 flex flex-col">
                  <div class="flex-auto flex items-center justify-center" style="min-height: 150px;">
                    <span class="text-grey">No Files Uploaded</span> 
                  </div>
                  <footer class="text-grey-dark">
                    <div class="flex items-center">
                      <i class="fal fa-cloud-upload fa-2x mr-2"></i>
                      <p>Drag &amp; Drop files here, or <a href="#" class="font-medium text-blue no-underline">browse</a> for a file to upload</p>
                    </div>
                  </footer>
                </div>
              </el-collapse-item>
            </el-collapse>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
import TheProgressBar from "@/components/TheProgressBar";
import TheEmptyState from "@/components/TheEmptyState";

export default {
  components: {
    TheProgressBar,
    TheEmptyState
  },
  data() {
    return {
      claimForms: [{ name: "claim_1007ellison.pdf" }],
      documents: ["1"],
      sizeForm: {
        name: "",
        region: "",
        date1: "",
        date2: "",
        delivery: false,
        type: [],
        resource: "",
        desc: ""
      }
    };
  },
  methods: {
    handleClose() {
      this.alertOpen = false;
    }
  }
};
</script>

<style scoped>
.completed {
  text-decoration: line-through;
}

.form-list-item:first-of-type {
  padding-top: 0;
}
</style>
