<template>
  <div class="text-center w-3/4 mx-auto">
    <h2 class="font-medium mb-2">Nothing to see here!</h2>
    <p class="leading-normal text-grey-dark">We'll let you know once we here back from the insurance company!</p>
    <img src="/empty-1.png" alt="">
  </div>
</template>
