<template>
  <div>
    <p class="mb-2 text-grey-dark text-sm">File claim when:</p>
    <div class="mb-4 criteria-list-item" v-for="(criterium, index) in criteria" :key="index">
      <div class="flex items-center justify-between w-full md:w-2/3">
        <el-select v-model="criterium.event">
          <el-option v-for="(ev, index) in events" :key="index" :value="ev">
            {{ ev }}
          </el-option>
        </el-select>
        <span class="mx-1 text-grey-dark text-sm">{{ thresholdText(criterium) }} </span>
        <el-input style="max-width: 175px;" v-model="criterium.threshold">
          <template slot="append">in</template>
        </el-input>
        <button class="text-red ml-4" @click="deleteCriterium(index)">
          <i class="el-icon-close"></i>
        </button>
      </div>
    </div>
    <el-button type="text" size="small" icon="el-icon-plus" @click="addCriteria">Add Criteria</el-button>
  </div>
</template>

<script>
export default {
  name: "the-insurance-criteria-picker",
  data() {
    return {
      criteria: [
        {
          event: "Hail",
          threshold: "1.5"
        }
      ],
      validatingCriteria: false,
      validated: false,
      events: ["Hail", "Rain", "Snow"]
    };
  },
  methods: {
    addCriteria() {
      this.criteria.push({
        event: "Hail",
        threshold: '1.5"'
      });
    },
    saveCriteria() {
      this.validatingCriteria = true;
      setTimeout(() => {
        this.validatingCriteria = false;
        this.steps[1].complete = true;
        this.validated = true;
      }, 2000);
    },
    deleteCriterium(index) {
      this.criteria.splice(index, 1);
    },
    thresholdText(criterium) {
      return {
        Hail: "larger than",
        Rain: "more than",
        Snow: "more than"
      }[criterium.event];
    }
  }
};
</script>
