<template>
  <div class="bg-white">
    <div class="flex items-center justify-between mb-2">
      <div class="flex items-center">
        <div class="mr-2">
          <i class="el-icon-circle-check-outline text-green text-2xl"></i>
        </div>
        <div>
          <p class="text-left">{{ insuranceCompany }}</p>
          <p class="text-sm text-grey-dark mt-1">
            2 policies / Added today
          </p>
        </div>
      </div>
      <div class="flex items-center">
        <el-button plain size="small">Edit Info</el-button>
        <el-button type="danger" plain size="small">Disconnect</el-button>
      </div>
    </div>
    <el-table :data="policies"> 
      <el-table-column label="Policy ID" prop="id" width="100"></el-table-column>
      <el-table-column label="Attached Properties" min-width="600">
        <template slot-scope="scope">
          <el-select filterable class="w-full" size="small" v-model="scope.row.properties" multiple>
            <el-option v-for="(address, index) in properties" :key="index" :label="address" :value="address">
              
            </el-option>
          </el-select>
        </template>
      </el-table-column>
    </el-table>
  </div>  
</template>

<script>
import faker from "faker";
import { times } from "lodash";
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["insuranceCompany"])
  },
  data() {
    return {
      properties: [],
      policies: [
        {
          id: "189029301",
          properties: []
        },
        {
          id: "120180012",
          properties: []
        }
      ]
    };
  },
  mounted() {
    times(15, () => {
      this.properties.push(faker.address.streetAddress());
    });
  }
};
</script>
