<template>
  <el-form :model="insuranceAccount" v-if="!connected" key="f">
    <el-form-item label="Insurance Provider">
      <div class="block">
        <el-select filterable v-model="chosenProvider" class="block w-full" placeholder="Select a provider">
          <el-option v-for="(provider, index) in providers" :key="index" :label="provider" :value="provider"></el-option>
        </el-select>
      </div>
    </el-form-item>
    <div class="flex flex-wrap -mx-2">
      <div class="w-1/2 px-2">
        <el-form-item label="Username">
          <el-input placeholder="Enter username"></el-input>
        </el-form-item>
      </div>
      <div class="w-1/2 px-2">
        <el-form-item label="Password">
          <el-input type="password" placeholder="Enter password"></el-input>
        </el-form-item>
      </div>
    </div>
    <el-form-item>
      <div class="mt-4">
        <el-button @click="connect" :loading="connecting" type="primary" plain>Connect Account</el-button>
      </div>
    </el-form-item>
  </el-form>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "the-insurance-login",
  data() {
    return {
      connected: false,
      connecting: false,
      chosenProvider: "",
      insuranceAccount: {
        company: ""
      },
      providers: [
        "USAA",
        "Amica Mutual",
        "Country Insurance",
        "American Family",
        "State Farm",
        "Allstate"
      ]
    };
  },
  methods: {
    ...mapMutations(["setInsuranceCompany"]),
    connect() {
      this.connecting = true;
      setTimeout(() => {
        this.setInsuranceCompany(this.chosenProvider);
        this.connecting = false;
        this.connected = true;
      }, 2000);
    }
  }
};
</script>
