<template>
  <div>
    <header class="mb-8">
      <div class="w-full md:w-1/2">
        <transition name="fade" mode="out-in">
          <h1 class="flow text-2xl font-normal text-black mb-2 leading-normal" :key="hoveredStep">
            {{ activeTitle }}
          </h1>
        </transition>
        <p class="leading-normal text-grey-darker">
          {{ activeDescription }}
        </p>
      </div>
    </header>
    <div class="flex items-center justify-between steps relative">
      <div v-for="(step, index) in steps" :key="index">
        <div class="w-8 h-8 bg-white step flex items-center justify-center" @mouseleave="handleMouseLeave" @mouseover="handleMouseEnter(index)" :class="{'completed': step.completed, 'active': step.active}">
          <i class="far fa-check text-white" v-if="step.completed"></i>
          <i class="fas fa-xs fa-circle text-blue" v-if="step.active"></i>
        </div>
      </div>
      <div class="progress-bar bg-blue" :style="dynamicWidth"></div>
    </div>
  </div>
</template>

<script>
import { throttle } from "lodash";

export default {
  data() {
    return {
      hoveredStep: null,
      steps: [
        { title: "This is the title", completed: true },
        {
          title: "Your claim is under review",
          completed: true,
          description:
            "We're waiting for a response from your insurer. Once we hear back, we'll let you know what you need to do."
        },
        {
          title: "Please verify your information",
          completed: false,
          active: true,
          description: "We need you to answer a few questions before we can proceed."
        },
        { title: "And another one", completed: false },
        { title: "Do you get the point?", completed: false }
      ]
    };
  },
  methods: {
    handleMouseEnter: throttle(function(index) {
      this.hoveredStep = index;
    }, 300),
    handleMouseLeave() {
      this.hoveredStep = null;
    }
  },
  computed: {
    activeStep() {
      return this.steps.find(step => step.active);
    },
    activeTitle() {
      if (this.hoveredStep) {
        return this.steps[this.hoveredStep].title;
      } else {
        return this.activeStep.title;
      }
    },
    activeDescription() {
      return this.activeStep.description || "Lorem ipsum dolor amet";
    },
    dynamicWidth() {
      const numCompleted = this.steps.reduce((count, step) => {
        if (step.completed) {
          count++;
        }
        return count;
      }, 0);
      console.log(numCompleted);
      return {
        width: `${numCompleted / this.steps.length * 100 + 10}%`
      };
    }
  }
};
</script>

<style scoped>
.flow {
  max-width: 28ch;
}

.steps {
  z-index: 1;
}
.steps:before {
  content: "";
  position: absolute;
  background: config("colors.grey-light");
  width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  top: 50%;
  z-index: -2;
  pointer-events: none;
}

.step {
  border-radius: 100%;
  border: 2px solid config("colors.grey-light");
  transition: border-color 0.2s ease-out;
}

.step:not(.active):not(.completed):hover {
  border-color: config("colors.blue");
}

.step.completed {
  background: config("colors.blue");
}

.step.completed,
.step.active {
  border-color: transparent;
  box-shadow: config("shadows.md");
}

.progress-bar {
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  top: 50%;
  z-index: -1;
  pointer-events: none;
}
</style>
