@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@tailwind preflight;
@tailwind utilities;

body {
  background: #EEF3F6;
  font-family: config('fonts.sans');
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.dotted-underline {
  text-decoration: none;
  border-bottom: 1px dotted config("colors.grey-dark");
}

.el-upload,
.el-upload-dragger {
  width: 100% !important;
}

.el-upload-dragger {
  height: 120px !important;
}

.el-upload-dragger .el-icon-upload {
  font-size: 48px !important;
  margin: 16px 0  8px !important;
  line-height: 1 !important;
}