<template>
  <div class="wrap flex">
    <aside></aside>
    <div class="main flex-auto" ref="main">
      <div class="max-w-2xl mx-auto px-4">
        <nuxt/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  watch: {
    $route (nv) {
      console.log(nv);
      this.$refs.main.scrollTop = 0;
    }
  }
}
</script>


<style scoped>
  .wrap {
    height: 100vh;
    overflow: hidden;
  }

  aside {
    background: linear-gradient(#24283e,#004380);
    flex: 0 0 72px;
    width: 72px;
  }

  .main {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>
