<template>
  <main class="py-8">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full sm:w-1/3 md:w-1/4 px-4">
        <aside>
          <label class="pl-4 uppercase tracking-wide text-sm font-medium text-grey-dark mb-4 block">Settings</label>
          <nav>
            <a class="flex items-center no-underline mb-1 pl-4 py-2 rounded-sm" href="#">
              <i class="far fa-fw text-lg fa-user mr-2 text-grey-darker"></i>
              <span class="text-grey-darkest font-medium">Individual Profile</span>
            </a>
            <a class="flex items-center no-underline mb-1 pl-4 py-2 rounded-sm" href="#">
              <i class="far fa-fw text-lg fa-user-circle mr-2 text-grey-darker"></i>
              <span class="text-grey-darkest font-medium">Account Profile</span>
            </a>
            <a class="flex items-center no-underline mb-1 pl-4 py-2 rounded-sm" href="#">
              <i class="far fa-fw text-lg fa-user-plus mr-2 text-grey-darker"></i>
              <span class="text-grey-darkest font-medium">Manage Users</span>
            </a>
            <a class="flex items-center no-underline mb-1 pl-4 py-2 rounded-sm" href="#">
              <i class="far fa-fw text-lg fa-usd-circle mr-2 text-grey-darker"></i>
              <span class="text-grey-darkest font-medium">Billing</span>
            </a>
            <a class="flex items-center no-underline mb-1 pl-4 py-2 rounded-sm" href="#">
              <i class="far fa-fw text-lg fa-bell mr-2 text-grey-darker"></i>
              <span class="text-grey-darkest font-medium">Notification Settings</span>
            </a>
            <a class="flex items-center no-underline mb-1 pl-4 py-2 rounded-lg bg-blue" href="#">
              <i class="far fa-fw text-lg fa-file-check mr-2 text-white"></i>
              <span class="text-white font-medium">Insurance Settings</span>
            </a>
          </nav>
        </aside>
      </div>
      <div class="w-full sm:w-2/3 md:w-3/4 px-4">
        <div class="bg-white rounded-sm shadow p-4">
          <article class="mb-8 border-b border-grey-light pb-4">
            <header>
              <h1 class="font-normal leading-normal text-xl text-grey-darkest mb-2">Connect Your Insurance Account</h1>
              <p class="leading-normal text-grey-darker">By sharing your insurance company login credentials with WeatherCheck, we'll be able to file claims on your behalf and keep you in the loop. Don't worry, we don't store these credentials in our system, we just use them to authenticate you.</p>
            </header>
            <div class="mt-4">
              <transition mode="out-in" name="fade">
                <div v-if="hasAddedInsurance" key="c">
                  <the-insurance-list></the-insurance-list>
                </div>
                <div v-else key="f">
                  <the-insurance-login></the-insurance-login>
                </div>
              </transition>
            </div>
          </article>
          <article>
            <header>
              <h1 class="font-normal leading-normal text-xl text-grey-darkest mb-4">Automated Claims Filing</h1>
              <p class="leading-normal text-grey-darker mb-4">WeatherCheck recommends filing claims when 1.5+ inch hail has occurred. Use the form below to customize this criteria to your liking. Keep in mind that WeatherCheck will ALWAYS confirm with you before filing a claim on your behalf.</p>
            </header>
            <div class="mt-4">
              <the-insurance-criteria-picker></the-insurance-criteria-picker>
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import TheInsuranceLogin from "@/components/TheInsuranceLogin";
import TheInsuranceList from "@/components/TheInsuranceList";
import TheInsuranceCriteriaPicker from "@/components/TheInsuranceCriteriaPicker";

import { mapGetters } from "vuex";
export default {
  components: {
    TheInsuranceLogin,
    TheInsuranceList,
    TheInsuranceCriteriaPicker
  },
  computed: {
    ...mapGetters(["hasAddedInsurance"])
  }
};
</script>
