<template>
  <main class="py-8">
    <header class="mb-8">
      <h1 class="font-normal text-2xl text-grey-darkest mb-4">1007 Ellison Ave Louisville, KY 40204</h1>
      <figure class="satellite border border-grey-light w-full bg-white">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3134.0958555529073!2d-85.7363896846692!3d38.23088297967889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88690d2fb0e1d847%3A0xe195ea7c3edbc460!2s1007+Ellison+Ave%2C+Louisville%2C+KY+40204!5e0!3m2!1sen!2sus!4v1524440708768" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </figure>
    </header>
    <section>
      <div class="flex flex-wrap md:-mx-4">
        <div class="w-full md:w-2/3 md:px-4 mb-4 md:mb-0">
          <div class="mb-8">
            <header class="py-2">
              <h1 class="text-xl font-normal text-grey-darker">Weather Events</h1>
            </header>
            <el-table class="shadow" :data="weatherEvents" empty-text="No weather events to show just yet.">
              <el-table-column label="Event"></el-table-column>
              <el-table-column label="Date"></el-table-column>
              <el-table-column label="Type"></el-table-column>
            </el-table>
          </div>
          <div class="mb-4">
            <header class="py-2">
              <h1 class="text-xl font-normal text-grey-darker">Insurance Claims</h1>
            </header>
            <div class="text-center">
              <the-insurance-list class="mb-4 shadow p-4" v-if="hasAddedInsurance"></the-insurance-list>
              <el-table class="shadow" :data="claims" height="300" empty-text="No claims yet">
                <div slot="empty" v-if="!hasAddedInsurance">
                  <div class="empty">
                    <p class="leading-normal text-lg mb-4 text-grey-dark mx-auto">No insurance claims to show just yet. You'll need to add your insurance to get started.</p>
                    <el-button @click="addInsurance" type="primary">Add Insurance</el-button> 
                  </div>
                </div>
                <el-table-column label="Date"></el-table-column>
                <el-table-column label="Status"></el-table-column>
                <el-table-column label="Actions"></el-table-column>
              </el-table>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/3 md:px-4">
          <div class="">
            <header class="py-2">
              <h1 class="text-xl font-normal text-grey-darker">Weather News</h1>
            </header>
            <div class="bg-white h-8 shadow">

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import TheInsuranceList from "@/components/TheInsuranceList";

export default {
  components: {
    TheInsuranceList
  },
  data () {
    return {
      weatherEvents: [],
      claims: []
    }
  },
  computed: {
    ...mapGetters(["hasAddedInsurance"])
  },
  methods: {
    addInsurance () {
      this.$router.push('/add-insurance');
    }
  }
}
</script>



<style lang="scss" scoped>
  .satellite {
    overflow:hidden;
    padding-bottom: 35%;
    position:relative;
    height:0;
  }

  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
</style>
